* {
    font-family: 'Crimson Pro', sans-serif;
    text-align: center;
    background-color: #341E72;
    color: #FFFFFF;
}

html {
    overflow-y: scroll;
}

h1 {
    padding-bottom: 10px;
}

.site-footer {
    padding-top: 20px;
}
